body {
    background-image: linear-gradient(rgb(255, 255, 255), #999999);
    background-size: cover;
    background-position: center;
    color: #555;
    height: 98vh;
    width: 98vw;
    font-family: 'Gugi', cursive;
}

.boilerplate-div {
    width: 100vw;
    height: max-content;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    color: #5d6068d6;
    text-transform: uppercase;

    &:hover {
        color: Black;
        cursor: pointer;
    }
}

// import base - contains global styles, such as resets, typography, colors
// import components- contains each self-contained component in its own .scss partial
// import pages contains page-specific styling

// example import statement '@import 'pages/home';'